.header {
  background-color:gray;
  top: 0;
  left:0;
  position: fixed;
  width:100%;
  height: 200px;
  box-sizing: border-box;
  overflow: hidden;
  }

  .container {
    background-color: #ccffff;
    margin: 0 auto;
    margin-top: 200px;
    width: 80%;
    padding: 40px;
    height: 2000px;
    box-sizing: border-box;
    }

    body {
      font-family: helvetica;
      margin:0;
      height:100%;
      width:100%;
      background-color: #c4c4c4;
    }

    img.Header_Image {
      box-sizing: border-box;}

      img.Dog_cropped3 {
        float: left;
        clear: right;
        width: 180px;
        height: 180px;
        }

        img.Cat_cropped1 {
          float: right;
          clear: left;
          width: 180px;
          height: 180px;
          }

        p {float: left;}

            h1.Header_Text {
              position: absolute;
              margin: 0;
              bottom: 0;
              width:100%;}

              h1 {font-family: helvetica;
                  color: #00664d;

                  background-color: #99ffe6;
                  }

                  h2 {font-family: helvetica;
                    clear:both;
                    }


                p {font-family: helvetica;
                  color: black;
                  }

                    p.different{
                      font-family: helvetica;
                      font-size: 15px;
                      color: black;
                      }
